body {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}

section {
    padding-top: 60px; /* Height of your fixed header */
    margin-top: -60px; /* Negative value of the padding to align the section correctly */
    scroll-margin-top: 60px; /* Same height as your fixed header */
}


.site-header{
    /* background-color: #333; */
    text-align: center;
    padding: 50px 0;
}

.site-header h1 {
    margin: 0.5rem 0;
    display: inline-block;
    font-size: 26px;
}

.site-nav ul {
    justify-content: center;
    display: flex; /* Use flexbox for horizontal alignment */
    flex-wrap: wrap; /* Wrap items to the next line if necessary */
    font-size: 22px;
}

.site-nav ul li {
    display: inline-block;
    margin-right: 20px;

}

.site-nav ul li a {
    font-weight: bold;
    color: #a51417;
    
}

.ccs-logo {
    height: 130px;
    display: block;
    margin: 0 auto; /* Center the logo inside the header */
}


.main-content {
    max-width: 1200px; /* Adjust to desired width */
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 16px;
  }
  
  .section-title {
    font-size: 1.5rem; /* Adjust title font size as needed */
    margin-bottom: 1rem; /* Space below each section title */
  }
  
  .section-content{
    margin-bottom: 2rem; /* Space below each section's content */
    /* padding: 15px; */
    font-size: 16px;
  }
  
/* Add this to your CSS file */
.to-top {
    position: fixed;
    bottom: 20px; /* You can adjust this value */
    right: 20px; /* You can adjust this value */
    background-color: black; /* Your desired background color */
    color: white; /* Your desired text color */
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
  
.to-top a {
    color: white; /* Ensure the link is white */
    text-decoration: none; /* No underline */
  }
  
/* Add a hover effect if desired */
.to-top:hover {
    background-color: #444; /* Darken the button a bit */
  }


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #e2e2e2;
    overflow: hidden;
    position: fixed; /* Fixed position */
    top: 0; /* Stick it to the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Make sure it sits on top */
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #bbb9b9;}


ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}



  